.course {
  padding: 20px 20px 0;

  &__title {
    text-align: center;
  }

  &__lesson {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E6EAEE;
    cursor: pointer;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &--active &-li-title {
      color: #0000ff;
    }
  }

  &__button-container {
    display: flex;
    gap: 8px;
  }

  &__lesson-title {
    margin-top: 8px;
  }
}
